.todo-list{
    background-color:  rgb(143, 89, 50);
    width: 100wh;
    text-align: center;
    margin: 20px auto;
    
}

.todoListAppz{
    background-color: white;
    border-radius: 5px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.datar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.ceklis{
    margin: auto 10px;
}
.removeTodo{
    background-color: blue;
    color: wheat;
    height: 30px;
    margin:auto 10px;
    border-radius: 5px;
    cursor: pointer;
}
.removeAllTodo{
    padding: 10px;
    margin-top: 10px;
    background-color: blue;
    color: wheat;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
