.navWrapp{
    display: flex;
    height: 80px;
    background-color: wheat;
    width: 100wh;
    justify-content: center;
}

.navContainer{
    display: flex;
    align-items: center;
}

.link{
    font-size: 2rem;
    margin:20px;
    text-decoration: none;
    color: blue;
    border-radius: 10px;
    padding: 10px;
    
}
.link:hover{
    color: blue;
    background-color: wheat;
    border: 1px solid blue;
    transition: 0.7s ease-in-out;
    
    
}
.activeLink{
    background-color: red;
    color: wheat;
}
